<div class="container mx-auto px-3">
  <div class="p-4 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h3 class="text-5xl mb-5 font-medium text-gray-900 dark:text-white">Sign in</h3>
    <form *ngIf="signinForm" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="mb-6" *ngFor="let ctrl of formInputs">
        <label 
          [attr.for]="ctrl.controlName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >
          {{ ctrl.inputLabel }}
        </label>
        <input 
          [attr.type]="ctrl.inputType"
          [attr.name]="ctrl.controlName"
          formControlName="{{ ctrl.controlName }}"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      
      <button
        [disabled]="loading || signinForm.invalid"
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>

      <div class="flex items-start">
        <a [routerLink]="['/', 'password-reset']" class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>
      </div>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        Not registered? <a [routerLink]="['/', 'signup']" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
      </div>
  
    </form>
  </div>
</div>